<!-- white background images with a preview clickable images to show that image -->
<a href="https://front.codes/" class="logo hover-target" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
</a>

<div class="section full-height over-hide px-4 px-sm-0">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
                <div class="section mx-auto text-center slider-height-padding">
                      <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
                      <label for="slide-1"></label>
                      <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
                      <label for="slider-2"></label>
                      <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
                      <label for="slider-3"></label>
                      <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
                      <label for="slider-4"></label>
                    <ul>
                        <li>
                            <span>Flowers</span>
                        </li>
                        <li>
                            <span>TOY PIG</span>
                        </li>
                        <li>
                            <span>SHY PORTRAIT</span>
                        </li>
                        <li>
                            <span>SKATEBOARD FACE</span>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
    </div>
</div>

<br>
<!-- 2nd image  auto mover images -->
<div class="img2">
<div class=container>
	<div id="proparallax">
		<img class="one" src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNDI4LTAwNTRfMS5qcGc.jpg" /> 
		<img class="two" src="https://static8.depositphotos.com/1011084/1040/i/450/depositphotos_10403757-stock-photo-background.jpg" />
		<img class="three" src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjgtMDAyOC5qcGc.jpg" />
	</div>
</div>
</div>


<br>
<app-slider></app-slider>