
<!-- zoomer on clicking -->
<input checked type="radio" id="step-1" name="button-step" value="step-1">
<input type="radio" id="step-2" name="button-step" value="step-2">
<input type="radio" id="step-3" name="button-step" value="step-3">
<input type="radio" id="step-4" name="button-step" value="step-4">
<input type="radio" id="step-5" name="button-step" value="step-5">
<input type="radio" id="step-6" name="button-step" value="step-6">
<input type="radio" id="step-7" name="button-step" value="step-7">
<a href="javascript:void(0);" title="button">
  &#9829;
  <label for="step-1"></label>
  <label for="step-2"></label>
  <label for="step-3"></label>
  <label for="step-4"></label>
  <label for="step-5"></label>
  <label for="step-6"></label>
  <label for="step-7"></label>
</a>
<br><br><br><br><br><br><br><br>


<!-- glowing effects on hover -->
<div class="glowing-effect">
    <button class="glow-on-hover" type="button">HOVER ME, THEN CLICK ME!</button>
</div>


  <!-- cloud button creation -->
  <div class="cloud-button">
  <svg viewBox="45 60 400 320" xmlns="http://www.w3.org/2000/svg">
    <path fill="#fff" d="M 90 210 C 90 180 90 150 90 150 C 150 150 180 150 180 150 C 180 150 300 150 300 150 C 300 150 330 150 390 150 C 390 150 390 180 390 210 C 390 240 390 270 390 270 C 330 270 300 270 300 270 C 300 270 180 270 180 270 C 180 270 150 270 90 270 C 90 270 90 240 90 210" mask="url(#knockout-text)" >
    </path>
    <mask id="knockout-text">
      <rect width="100%" height="100%" fill="#fff" x="0" y="0" />
      <text x="147" y="227" fill="#000">BUTTON</text>
    </mask>
  </svg>
  </div>
  

  <app-animation2></app-animation2>