
<!-- rotater divs  -->
<nav class='menu'>
    <a class="nav" >
        <div class="icon"><i class="fa fa-truck"></i></div>
        <div class="icon">shipping</div>
    </a>
    <a class="nav" >
        <div class="icon">galery</div>
        <div class="icon"><i class="fa fa-camera-retro"></i></div>
    </a>
</nav>

<!-- 1st div phone symbol ring on hover 2nd button rainbow colors mover on hover -->
<div>
    <button class="button phone">Contact Us</button>
    <a class="rainbow rainbow-1">Click Me!</a>
</div>


<br><br><br><br><br>

<!-- message shower buttons on hover -->
<div class="content-div">
<ul class="content-ul">
    <li class="content-li"><a class="round green">Login<span class="round">That is, if you already have an account.</span></a></li>
    <li class="content-li"><a class="round red">Sign Up<span class="round">But only if you really, really want to. </span></a></li>
    <li class="content-li"><a class="round yellow">Demo<span class="round">Take a look. This product is totally rad!</span></a></li>
  </ul> 
</div>

<br>
<!-- yes no adjuster -->

<div class="buttons-yn">
    <button class="y-n">Yes</button>
    <button class="y-n">No</button>
  </div>
  <br>

<!-- auto cards animation -->
    <div class="cont">
        <div class="cards">
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
            <div class="card">
                <p class="card-text"></p>
            </div>
        </div>
    </div>


    <br>
    <!-- on click sliding window -->

    <form>

        <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
        <input type="radio" name="fancy" value="hearts" id="hearts" />
        <input type="radio" name="fancy" value="spades" id="spades" />
        <input type="radio" name="fancy" value="diamonds" id="diamonds" />			
        <label for="clubs">&#9827; Clubs</label><label for="hearts">&#9829; Hearts</label><label for="spades">&#9824; Spades</label><label for="diamonds">&#9830; Diamonds</label>

</form>

<br>

<app-imager></app-imager>