<!-- price reavealing animations -->

<section class="section-prices">
    <div class="list-boxs">
      <div class="card starter">
        <div class="head">
          Starter
        </div>
        <div class="ticket">$5.90</div>
        <div class="body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <button class="btn">Order Now</button>
        </div>
      </div>
    </div>
</section>
<br><br>

<!-- flipper cards  -->

<div class="box">
    <div class="front">
    <img src="https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg" alt="">
    </div>
    <div class="back">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, odio?</p>
    </div>
    </div>

