 <!-- star rating -->
 <div class="rating">
    <input type="radio" id="star1" name="rating" value="1" />
    <label for="star1"></label> 
    <input type="radio" id="star2" name="rating" value="2" />
    <label for="star2"></label> 
    <input type="radio" id="star3" name="rating" value="3" />
    <label for="star3"></label>
    <input type="radio" id="star4" name="rating" value="4" />
    <label for="star4"></label>
    <input type="radio" id="star5" name="rating" value="5" />
    <label for="star5"></label> 
</div> 

<br>

<!-- image highlighter -->

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    </div>
</section>


<!-- fliping cards on hover(multiple cards) -->

<div class="boxesContainer">

    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Card One</h3>
          <p>Hover to flip</p>
          <strong>&#x21bb;</strong>
        </div>
        <div class="back">
          <h3>Back Side One</h3>
          <p>Content in card one</p>
          <a href="#">Button 1</a>
        </div>
      </div>
    </div>
  
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Card Two</h3>
          <p>Hover to flip</p>
          <strong>&#x21bb;</strong>
        </div>
        <div class="back">
          <h3>Back Side Two</h3>
          <p>Content in card two</p>
          <a href="#">Button 2</a>
        </div>
      </div>
    </div>
  
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Card Three</h3>
          <p>Hover to flip</p>
          <strong>&#x21bb;</strong>
        </div>
        <div class="back">
          <h3>Back Side Three</h3>
          <p>Content in card three</p>
          <a href="#">Button 3</a>
        </div>
      </div>
    </div>
  
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Card Four</h3>
          <p>Hover to flip</p>
          <strong>&#x21bb;</strong>
        </div>
        <div class="back">
          <h3>Back Side Four</h3>
          <p>Content in card four</p>
          <a href="#">Button 4</a>
        </div>
      </div>
    </div>
  
  </div>


<!--  message shower on hover -->

<br><br><br><br>
<div class="message-shower">
  <div class="card-wrapper">
    <div class="card-top">
        <img class="image" src="https://images.unsplash.com/photo-1499676763409-c0211693a66b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80">
    </div>
    <div class="card-bottom">
        <span class="top-text">Premium Membership</span><br>
        <span class="bottom-text">Join our membership program to download music for free, listen offline and skip songs</span>
        <br>
        <button class="button">Join Us</button>
    </div>
  </div>
</div>

<br><br><br>

<app-animation3></app-animation3>